<%= form_tag user_bookmarks_path(current_user) do %>

  <div>
    <%= hidden_field_tag :user_id, current_user.id  %>
  </div>

  <div>
    <%= label_tag :title, "Title" %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :description, "Description" %>
    <%= text_area_tag :description %>
  </div>

  <% if session[:giphy_url] %>
    <div>
      <img src="<%= session[:giphy_url] %>" >
      <%= label_tag :gif_url, "URL" %>
      <%= text_area_tag :gif_url, session[:giphy_url] %>
    </div>
  <% else%>
    <div>
      <%= label_tag :gif_url, "Paste URL Here" %>
      <%= text_area_tag :gif_url %>
    </div>
  <% end %>
  
  <div>
    <%= submit %>
  </div>

<% end %>
