<%= form_tag user_bookmarks_path(current_user) do %>

  <div>
    <% hidden_field :user_id, current_user.id  %>
  </div>

  <div>
    <%= label_tag :title, "Title" %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :description, "Description" %>
    <%= text_area_tag :description %>
  </div>

  <div>
    <%= label_tag :gif_url, "Paste URL Here" %>
    <%= text_field_tag :gif_url %>
  </div>

  <div>
    <%= label_tag :tag, "Add tags" %>
    <%= text_field_tag :tag %>
  </div>

  <div>
    <%= submit_tag %>
  </div>

<% end %>
