<h1>Add a Gif to Your Bookmarks</h1>
  <%= form_tag user_bookmarks_path(current_user) do %>

    <div>
      <% hidden_field_tag :user_id, current_user.id  %>
    </div>

    <div>
      <%= label_tag :title, "Title" %>
      <%= text_field_tag :title %>
    </div>

    <div>
      <%= label_tag :description, "Description" %>
      <%= text_area_tag :description %>
    </div>

    <div>
      <%= label_tag :gif_url, "Paste URL Here" %>
      <%= text_area_tag :gif_url %>
    </div>

    <div>
      <%= submit %>
    </div>

  <% end %>
