<h1>welcome <%= @user.first_name.downcase %></h1>



<% @bookmarks.each do |bookmark| %>
  <div>
    <img src="<%= bookmark.gif.gif_url %>"> <br>
    <%= bookmark.title %> <br>
    Tags: <% bookmark.tags.each do |tag| %>
      <%= link_to"##{tag.name}", tag_path(tag) %>
      <% end %> <br>
    <%= bookmark.created_at.strftime "%b %e %l:%M %p" %>
    <%= link_to 'edit', edit_bookmark_path(bookmark) %>
  </div>
<% end %>
