<h1>welcome <%= @user.first_name.downcase %></h1>
<%= link_to 'edit account', edit_user_path %>
<%= will_paginate @bookmarks, class: 'digg_pagination' %> <br>

<% @bookmarks.each do |bookmark| %>
  <div>
    <img src="<%= bookmark.gif.gif_url %>" width="300"> <br>
    <%= bookmark.title %> <br>
    Tags: <% bookmark.tags.each do |tag| %>
      <%= link_to"##{tag.name}", tag_path(tag) %>
      <% end %> <br>
    <%= bookmark.created_at.to_time.strftime "%b %e %l:%M %p" %>
    <%= link_to 'edit', edit_bookmark_path(bookmark) %>
  </div>
<% end %> <br>
<%= will_paginate @bookmarks, class: 'digg_pagination' %> <br>
