<h1>welcome to gif book</h1>
<%= will_paginate @bookmarks, class: 'digg_pagination' %>

<% @bookmarks.each do |bookmark| %> <br>
  <div>
    <a href="<%= bookmark_path(bookmark) %>"><img src="<%= bookmark.gif.gif_url %>" width="300"></a><br>
    Title: <%= bookmark.title %> <br>
    Tags: <% bookmark.tags.each do |tag| %>
      <%= link_to"##{tag.name}", tag_path(tag) %>
      <% end %> <br>
    User: <%= bookmark.user.username %> <br>
    Date: <%= bookmark.created_at.to_time.strftime "%b %e %l:%M %p" %> <br>
<% end %>
<br>
<%= will_paginate @bookmarks, class: 'digg_pagination' %>
