<h1>welcome to gif book</h1>

<% @bookmarks.each do |bookmark| %>
  <div>
    <img src="<%= bookmark.gif.gif_url %>" width="300"><br>
    Title: <%= bookmark.title %> <br>
    Tags: <% bookmark.tags.each do |tag| %>
      <%= link_to"##{tag.name}", tag_path(tag) %>
      <% end %> <br>
    User: <%= bookmark.user.first_name %> <%= bookmark.user.last_name %> <br>
    Date: <%= bookmark.created_at.strftime "%b %e %l:%M %p" %>
  </div>
<% end %>

